/* variables */
$default-bg-color: #424658;
$default-bg-color-l: #BABBB1;
$default-fg-color: white;
$default-text-color-dark: white;
$default-text-color-light: black;

$thenewwebsite-height: 100vh;
$thenewwebsite-width: 100vw;
$masthead-height: 3rem;

/* mixins */
@mixin font-sizes {
    h1, h2, h3, h4, h5, h6, p { margin: 0;}
    h1 { font-size: 1.625rem; } 
    h2 { font-size: 1.5rem; } 
    h3 { font-size: 1.375rem; } 
    h4 { font-size: 1.25rem; } 
    h5 { font-size: 1.125rem; } 
    h6 { font-size: 1rem; }
    p { font-size: 1rem; }
}

@mixin spacers ($height, $color, $color-lighter)  {
    .spacer-#{$height}-masthead {
        height: $height;
        background-color: $color;
    }

    .spacer-#{$height}-l-masthead {
        height: $height;
        background-color: $color-lighter;
    }
}

@mixin container-types {
    .dflex {
        display: flex;
    }
    .dblock {
        display: block;
    }
    .dblockin {
        display: inline-block;
    }
    .dhidden {
        display: none;
    }
}

@mixin dflex-columns ($columns, $percent) {
    .col-#{$columns} {
        flex: 0 0 calc(#{$columns}#{$percent});
    }
}

@mixin flex-row-justify {
    .flex-row-j-sb {
        justify-content: space-between;
    }
    .flex-row-j-cc {
        justify-content: center;
    }
}

@mixin flex-row-align {
    .flex-row-a-cc {
        align-items: center;
    }
}

html {
    font-size: 16px;

    body {
        margin: 0; 
        padding: 0;
        line-height: 1.15;

        * { 
            box-sizing: border-box; font-size: 1rem;
        }

        @include spacers(3px, $default-bg-color, $default-bg-color-l);

        @include container-types();

        @include font-sizes();

        .flex-row {
            flex-wrap: wrap;
            gap: 0;
            padding: 0;

            /* single row */
            @include dflex-columns("100","%");

            /* double row 240px, 480px */
            @include dflex-columns("33","%");
            @include dflex-columns("67","%");

            /* triple normal mid 300px, 600px, 300px */
            @include dflex-columns("25","%");
            @include dflex-columns("50","%");
            @include dflex-columns("25","%");

            /* triple large mid 300px, 1200px, 300px */
            @include dflex-columns("16","%");
            @include dflex-columns("68","%");
            @include dflex-columns("16","%");
        }

        @include flex-row-justify();

        @include flex-row-align();

        .a-head {
            background-color: $default-bg-color;
            width: 100%;

            .masthead-height {
                height: $masthead-height;
            }

            .websitelogo {
                height: $masthead-height;
                object-fit: scale-down;
            }

            .searchbar {
                height: calc(#{$masthead-height} - 3px);
                border-radius: 30px;
                border: 1px solid gray;
                padding: 0 5px;
            }
        }

        .f-cont {
            .middle {
                background-color: $default-fg-color;

                .navi {
                    .card {
                        width: 360px;

                        // if 720px screens size, same

                        @media (min-width: 1080px) {
                            /* this is a template for when screen size is bigger */
                            // width: 300px;
                        }

                        img {
                            width: inherit;
                            height: auto;
                        }
                    }
                }

            }
        }

        .k-foot {
            background-color: $default-bg-color;
            width: 100%;
            color: white;
        }

    }
}